
<ul id="slide-out" class="side-nav fixed">
    <li align='center'><a class="waves-effect nav-link" routerLink="" style='margin-top:16px'>HOME</a></li>
    <li align='center'><a class="waves-effect nav-link" routerLink="/customers">View Customers</a></li>
    <li align='center'><a class="waves-effect nav-link" routerLink="/customers/new-customer">New Customer</a></li>
    <li align='center'><a class="waves-effect nav-link" routerLink="/orders">View Orders</a></li>


</ul>
<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i id='nav-slider' class="material-icons">menu</i></a>