<div class="container">

  <h1>All Orders:</h1>
  <app-loading-spinner *ngIf='showSpinner'></app-loading-spinner>

  <div *ngIf='orders?.length > 0; else noItems'>

    <table class="highlight striped bordered">

      <thead>

        <tr>
            <th>Order</th>
            <th>Created At</th>
            <th>Customer Full Name</th>
            <th>Company</th>
            <!-- <th>PO Number</th> -->
        </tr>

      </thead>

      <tbody>
          
        <tr *ngFor="let order of orders" [routerLink]="order.orderId" style="cursor:pointer">
          
            <td>{{ order.orderId }}</td>
            <td>{{ order.date | date:'dd-MM-yyyy' }}</td>
            <td>{{ order.customer }}</td>
            <td>{{ order.company }}</td>
            <td>{{ order.po }}</td>

        </tr>

      </tbody>

    </table>

  <ng-template #noItems>
    <!-- <h5>There are no orders to list</h5> -->
  </ng-template>

</div>